.app{
    .info{
        .database{
            .buttons{
                margin:15px;
                width:25vw;
                min-width:400px;
                height:10vh;
                display: flex;
                justify-content: space-between;
                align-items: center;
                button{
                    padding:15px;
                    background-color: white;
                    border-radius: 10px;
                    border:none;
                    cursor: pointer;
                    transition: .3s ease-in-out;
                }
                button:hover{
                    transform: scale(1.1);
                }
                button.selected{
                    background-color: aquamarine;
                }
            }
        }
    }
}

@media (max-width:600px){
    .app{
        .info{
            .database{
                .buttons{
                    min-width:320px;
                    button{
                        padding:10px;
                    }
                }
            }
        }
    }
}