.app{
    .info{
        .database{
            margin:25px;
            background-color: aliceblue;
            border-radius:25px;
            opacity: .8;
            padding:25px;
            height:45vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            h1{
                position: relative;
                margin-top: 25px;
                font-size: 48px;
            }
            h1::before{
                content: "";
                position: absolute;
                top:-40%;
                left:-10%;
                width:60%;
                height:120%;
                background-color: aquamarine;
                z-index:-1;
            }
            .dataTable{
                width:70%;
                height:60%;
                border-radius:15px;
                background-color: white;
                overflow-y: scroll;
                padding:30px;
                margin-bottom: 25px;
                line-height: 25px;
                letter-spacing: 2px;
                ol{
                    padding:25px;
                    cursor:pointer;
                    li{
                        margin:20px;
                    }
                }
            }
            .dataTable::-webkit-scrollbar {
                width: 12px;
            }
            .dataTable::-webkit-scrollbar-thumb {
                background-color: #222;
            }
            .dataTable::-webkit-scrollbar-track {
                background-color: aliceblue;
                border-radius: 4px;
            }
            .dataTable::-webkit-scrollbar-thumb:hover {
                background-color: #444; 
            }
        }
    }
}

@media (max-width:1500px){
    .app{
        .info{
            .database{
                h1{
                    font-size: 38px;
                }
            }
        }
    }
}

@media (max-width:1020px){
    .app{
        .info{
            .database{
                h1{
                    font-size: 36px;
                }
            }
        }
    }
}

@media(max-width:800px){
    .app{
        .info{
            .database{
                margin:0 0px 45px 0px;
                h1{
                    font-size: 26px;
                }
                h2{
                    font-size: 16px;
                }
                .dataTable{
                    width:95%;
                }
            }
        }
    }
}