.app{
    .info{
        .infoTable{
            padding:25px;
            height:55vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            h1{
                position: relative;
            }
            h1::before{
                content: "";
                position: absolute;
                top:-40%;
                left:-10%;
                width:60%;
                height:120%;
                background-color: aquamarine;
                z-index:-1;
            }
            h2{
                position: relative;
            }
            h2::before{
                content: "";
                position: absolute;
                top:-40%;
                right:-5%;
                width:40%;
                height:100%;
                background-color: aquamarine;
                z-index:-1;
            }
            .dataTable{
                width:70%;
                height:50%;
                border-radius:15px;
                background-color: white;
                overflow-y: scroll;
                padding:30px;
                line-height: 25px;
                letter-spacing: 2px;
                ol{
                    padding:25px;
                    cursor:pointer;
                    li{
                        margin:20px;
                    }
                }
            }
            .dataTable::-webkit-scrollbar {
                width: 12px;
            }
            .dataTable::-webkit-scrollbar-thumb {
                background-color: #222;
            }
            .dataTable::-webkit-scrollbar-track {
                background-color: aliceblue;
                border-radius: 4px;
            }
            .dataTable::-webkit-scrollbar-thumb:hover {
                background-color: #444; 
            }
            p{
                font-weight: 700;
                font-size:28px;
            }
        }
    }
}