.app{
    .info{
        .infoTable{
            margin:45px;
            background-color: aliceblue;
            border-radius:25px;
            opacity: .8; 
            padding:25px;
            height:50vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            position: relative;
            h1{
                position: relative;
                margin-top: 25px;
                font-size: 46px;
            }
            h1::before{
                content: "";
                position: absolute;
                top:-40%;
                left:-10%;
                width:60%;
                height:120%;
                background-color: aquamarine;
                z-index:-1;
            }
            p{
                border-bottom:5px solid aquamarine;
                padding:5px;
                font-weight: 700;
                font-size:32px;
            }
            p.authorP{
                font-size:48px;
            }
            h2{
                position: relative;
            }
            h2::before{
                content: "";
                position: absolute;
                top:-40%;
                right:-5%;
                width:40%;
                height:100%;
                background-color: aquamarine;
                z-index:-1;
            }
            .dataTable{
                width:60%;
                height:40%;
                margin-bottom: 25px;
                border-radius:15px;
                background-color: white;
                overflow-y: scroll;
                text-align: center;
                line-height: 25px;
                letter-spacing: 2px;
                ol{
                    padding:25px;
                    cursor:pointer;
                    li{
                        margin:20px;
                    }
                }
            }
            .dataTable::-webkit-scrollbar {
                width: 12px;
            }
            .dataTable::-webkit-scrollbar-thumb {
                background-color: #222;
            }
            .dataTable::-webkit-scrollbar-track {
                background-color: aliceblue;
                border-radius: 4px;
            }
            .dataTable::-webkit-scrollbar-thumb:hover {
                background-color: #444; 
            }
        }
        .infoTable:nth-child(odd){
            transform: translateX(-2%);
        }
        .infoTable:nth-child(even){
            transform: translateX(2%);
        }
        .infoTable.authorDiv{
            padding:100px;
        }
    }
}

@media (max-width:1500px){
    .app{
        .info{
            .infoTable{
                h1{
                    font-size: 38px;
                    line-height: 35px;
                }
                p.authorP{
                    font-size:38px;
                }
            }
            .infoTable.authorDiv{
                padding:80px;
            }
        }
    }
}

@media (max-width:1020px){
    .app{
        .info{
            .infoTable{
                h1{
                    font-size: 36px;
                }
            }
        }
    }
}

@media(max-width:800px){
    .app{
        .info{
            .infoTable{
                margin:0 0px 45px 0px;
                h1{
                    font-size: 26px;
                }
                h2{
                    font-size: 16px;
                }
                .dataTable{
                    width:95%;
                }
                p.authorP{
                    width:100%;
                    font-size:42px;
                    text-align: center;
                    line-height: 45px;
                }
            }
        }
    }
}